[submodule "app/static/externals/geoext"]
	path = app/static/externals/geoext
	url = https://github.com/opengeo/GeoExt.git
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = https://github.com/opengeo/gxp.git
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "externals/ringo"]
	path = externals/ringo
	url = git://github.com/ringo/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = git://github.com/tschaub/buildkit.git
